.shell {
  height: 100%;
  display: flex;
}

.shell__main {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.shell__content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  position: relative;
}
